body{
    width: 1398px;
    background: #191b1d;
    font-family: 'Inter', sans-serif;
}
a{
    text-decoration: none;
}
.site-logo{
    position: relative;
    left: 90px;
    top: 70px;
}
.site-logo-img{
    width: 70px;
}
.menu-toogle{
    cursor: pointer;
    position: relative;
    top: 40px;
    left: 300px;
}
.menu-toogle > .menu-line:first-child{
    animation: line-first 1s;
}
.menu-toogle > .menu-line:nth-child(2){
    animation: line-second 1s 1;
}
.menu-line{
    height: 1px;
    background-color: #fff;
    display: block;
    margin: 10px;
    cursor: pointer;
}
.menu-line::after{
    transform: rotate(100deg);
}
@keyframes line-first {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-45deg);}
    0%{transform: rotate(0deg);}
}
@keyframes line-second {
    0% {transform: rotate(0deg);position: relative;bottom: 10px;}
    100% {transform: rotate(45deg); ;position: relative;bottom: 10px;}
}
.header-button-back{
    display: inline-block;
    position: relative;
    left: 1400px;
    height: 50px;
    width: 50px;
    background-color:#2b2e31;
    border-radius: 50px;
    color: hsla(0,0%,100%,.4) ;
}
.header-button-back:hover{
    width: 150px;
    color: #fff;
}
.header-button{
    font-weight: 700;
    font-size: 16px;
    letter-spacing: -.05em;
    margin-left: 25px;
    margin-top: 15px;
    width: 100px;
}

/*Home Style*/

#home .container{
    margin-left: 70px;
}
h1{
    letter-spacing: -.06em;
    color: #fff ;
}
.big-title{
    line-height: 200px;
}
.big-title-hover{
    line-height: 200px;
    cursor: pointer;
}
.big-title-hover:hover{
    animation: fadeIn;
    animation-duration: 3s;
    visibility: hidden;
}
.big-title-hover:hover > .h1-hidden{
    visibility: initial;
}   
.h1-hidden{
    visibility: hidden;
    position: absolute;
    left: 70px;
}    
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to{
        opacity: 1;
  }}

  @keyframes fadeOut {
    0% {
        opacity: 1;
      }
  
      25%{
          opacity: .9;
      }
      50%{
          opacity: .6;
      }
      75%{
          opacity: .3;
      }
      100%{
          opacity: 0;
      }
    }

  /* Video Style */

.iframe{
    width: 1300px;
    height: 738px;
    border: 0;
    margin-top: 100px;
    left: 397px;
    position: relative;
}
.video-text{
    position: relative;
    top: 100px;
    width: 1000px;
    left: 490px;
}
.video-text h3{
    color: #fff;
    font-size: 30px;
}